{% trans_default_domain 'admin' %}

{% extends 'PuzzleAdminPageBundle::layout_table.html.twig' %}

{% block title %}{{ parent() }} - {{ "cms.template.list"|trans }} {% endblock %}

{% block mainsubtitle %} - {{ "cms.template.base"|trans|capitalize }}{% endblock %}

{% block headingelements %}
    <a href="{{ url('admin_page_template_create') }}" class="btn btn-primary btn-labeled">
        <b><i class="icon-add"></i></b>
        {{ "button.add"|trans }}
    </a>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{ "cms.template.list"|trans|capitalize }}</li>
{% endblock %}

{% block breadcrumbelements %}
<ul class="breadcrumb-elements">
    <li>
        <a href="#" class="text-danger delete-list toggle-action hide">
            <i class="icon-trash-alt"></i> {{ "button.delete_list"|trans }}
        </a>
        <input type="hidden" value="admin_page_template_delete" id="delete-route-name"/>
    </li>
</ul>
{% endblock %}

{% block mainpage %}
    <div class="col-md-offset-1 col-lg-10">
        <div class="panel panel-flat">
            <table class="table datatable">
                <thead>
                    <tr>
                        <th>
                            {% if templates is not empty %}
                                <a href="#" id="toggle-check">
                                    <i class="icon-checkbox-unchecked toggle-icon"  id="toggle-check-icon"></i>
                                </a>
                                <input type="hidden" value="{{ templates|length|default('0') }}" id="toggle-items-count">
                                <input type="hidden" value="0" id="toggle-items-checked-count">
                            {% endif %}
                        </th>
                        <th>{{ "cms.template.name"|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for template in templates %}
                        <tr class="toggleable" id="item-{{ template.id }}">
                            <td>
                                <a class="text-muted text-small text-left toggleable-btn-select" href="#">
                                    <i class="icon-checkbox-unchecked toggle-icon toggle-item" id="toggle-item-{{ template.id }}"></i>
                                </a>
                            </td>
                            <td>{{ template.name }}</td>
                            <td class="text-right">
                                <div class="btn-control">
                                    <span class="icons-list toggleable-btn hide toggleable-btn-controls">
                                        <a href="{{ url('admin_page_template_update', { 'id': template.id }) }}" title="{{ "button.update"|trans }}" class="mr-10">
                                            <i class="icon-pencil"></i> 
                                        </a>
                                        <a href="{{ url('admin_page_template_delete', {'id': template.id}) }}" data-toggle="modal" title="{{ "button.delete"|trans }}" class="delete-item" id="delete-item-{{ template.id }}">
                                            <i class="icon-trash-alt text-danger"></i>
                                        </a>
                                        <input type="hidden" id="label-delete-item-{{ template.id }}" value="{{ template.name }}">
                                    </span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
