{% trans_default_domain 'admin' %}

{% set active = "admin" %}

{% set subactive = "admin_page_list" %}

{% extends 'PuzzleAdminPageBundle::layout_editor.html.twig' %}

{% block title %}{{ parent() }} - {{ "cms.page.update"|trans }} {{ page.name }}{% endblock %}

{% block mainsubtitle %} - {{ "cms.page.update"|trans }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ url('admin_page_list') }}">{{ "cms.page.list"|trans }}</a></li>
    <li class="active">{{ "cms.page.update"|trans }}</li>
{% endblock %}

{% block mainpage %}
    {% include 'PuzzleAdminPageBundle:Page:form.html.twig' with { ' form' : form, 'page' : page } %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/puzzleadmin/js/pages/uploader.js') }}" type="text/javascript"></script>
{% endblock %}


